/* It removes arrow buttons from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.creation-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.creation-form-wrapper label {
    margin-top: 30px;
    margin-bottom: 30px;
}

.creation-text-input {
    width: 100%;
    text-align: center;
    margin: 5px auto;
    border: 2px solid black;
    outline: none;
    transition: 0.4s ease;
}

.creation-span, .creation-text-input {
    font-family: "Comic Sans MS", "arial", "cursive";
    font-weight: bold;
}

.creation-text-input:hover {
    background-color: whitesmoke;
}