.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-container {
    display: flex;
    justify-content: center;
}

#member-button {
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    background: none;
}

.member img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px black;
    transition: 0.2s ease;
}

.member img:hover {
    transform: scale(1.02);
}

.single-stat-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.member-stats-list {
    list-style-type: none;
}

.black-text {
    color: black;
}

.yellow-text {
    color: goldenrod;
}

.green-text {
    color: green;
}

@media (max-width:641px)  {
    .member img {
        width: 100px;
        height: 100px;
    }
}