.hero-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-button {
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    background: none;
}

.hero-button:hover {
    background: none;
}

.hero-container .img {
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px black;
    transition: 0.2s ease;

}

.hero-container .img:hover {
    transform: scale(1.04);
}